.home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.searchBarContainer {
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
}

.searchBarIcon {
  position: absolute;
  display: flex;
  align-items: center;
  inset-inline-start: 0.5rem;
  top: 0px;
  bottom: 0px;
  width: 25px;
}

.searchBar {
  width: 100%;
  padding: 8px 42px;
  appearance: none;
  height: 32px;
  background-color: #00000010;
  border-radius: 50px;
  border: none;
}

.searchBar:focus {
  outline: none;
}